body, p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.header {
  background-color: #1f2937;
  height: 80px;
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.headerLogo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: -0.06em;
  margin-top: 16px;
  margin-left: 200px;
}

.headerLink {
  color: #F9FAF8;
  margin-top: 24px;
  margin-right: 200px;
}

.headerLinkTwo {
  margin-left: 16px;
}

.headerLinkThree {
  margin-left: 16px;
}

.subheader {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  height: 300px;
}

.subheaderRightImg {
  max-height: 300px;
  max-width: 800px;
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-right: 200px;
  margin-top: 24px;
}

.subheaderLeft {
  margin-left: 200px;
  color: #F9FAF8;
}

.subheaderLeftTitle {
  font-size: 48px;
  margin-bottom: 8px;
  margin-top: 24px;
  width: 400px;
}

.subheaderLeftParagraph {
  width: 400px;
  margin-bottom: 16px;
}

.mainInfoTitle {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInfoImages {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.mainInfoImg {
  width: 160px;
  text-align: center;
}

.infoImg {
  border: 3px solid #3B82F6;
  border-radius: 8px;
  height: 140px;
  width: 140px;
  margin-bottom: 8px;
}

button {
  background-color: #3B82F6; 
  border-radius: 5px; 
  padding: 6px;
  width: 80px;
  border: none;
  color: white;
}

.quote {
  height: 400px;
  margin-top: 16px;
  background-color: #E5E7EB;
}

.quoteMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteSub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteText {
  width: 700px;
  font-size: 36px;
  margin-top: 100px;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
}

.quoteAuthor {
  text-align: right;
  width: 700px;
  margin-top: 0px;
}